
/*--------------------------------------------------------------
    #General
--------------------------------------------------------------*/
body {
  background: rgba(250, 250, 250, 1); /* Slightly transparent background */
  color: #1d242b;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #18d26e;
  transition: 0.5s;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #18d36e;
  outline: none;
  text-decoration: none;
}

p {
  font-family: "IBM Plex Sans", "IBM Plex Sans Placeholder", sans-serif;
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", "Playfair Display Placeholder", serif;
  font-weight: 700;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: start;
  text-decoration: none;
  text-transform: capitalize;
}

/*Button*/

.my-button {
  background-color: #1d242b;
  color: #fafafa;
}

.my-button:hover {
  background-color: #18d36e;
  color: #fafafa;
}

.fixed-button {
  width: 150px;
  padding: 10px;
  text-align: center;
}

/*Section Background Color Change*/
.color-change {
  background-color: #fff;
}

.change-color {
  background-color: #F7F7F7;
}
/*--------------------------------------------------------------
    #Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #18d26e;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fafafa;
  line-height: 0;
}

.back-to-top:hover {
  background: #2ce782;
  color: #fafafa;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*Prelaoder*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #18d26e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
    #Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  background-color: rgba(255, 255, 255, 0.9);
  height: 80px;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  height: 60px;
}

#header .logo {
  font-size: 34px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  padding-left: 10px;
}

#header .logo a span {
  font-family: "BELLE QUEST";
  color: #18d26e;
  font-size: 40px;
}

#header .logo a {
  color: #000;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
    #Navigation Menu
--------------------------------------------------------------*/
/*Desktop Navigation*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #18d26e;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fafafa;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
  color: #666666;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #18d26e;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/*Mobile Navigation*/
.mobile-nav-toggle {
  color: #1d242b;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(26, 26, 26, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fafafa;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #1d242b;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #18d26e;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #18d26e;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
    #Sections
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

/*Sections Header*/
.section-header h3 {
  font-size: 32px;
  color: #1d242b;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}

/*Section with background*/
.section-bg {
  background: #f7f7f7;
}

/*--------------------------------------------------------------
    #Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f7f7f7;
  min-height: 40px;
  margin-top: 80px;
}

.breadcrumbs h2 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 400;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------
    New Hero Section
--------------------------------*/
#new-hero {
  background-color: #fff;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
}

#new-hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

#new-hero .container {
  position: relative;
  z-index: 10;
}

#new-hero h1 {
  font-size: 40px;
  letter-spacing: 0em;
  line-height: 110%;
} 

#new-hero .section-header h3 {
  text-align: left;
  font-size: 30px;
  font-weight: 600;
}


#new-hero .new-hero-bg {
  position: relative; /* Ensure the pseudo-element is positioned relative to this container */
  height: 100%;
  width: 100%;
  background-image: url('../img/01.png'); /* Replace with the path to your image */
  background-size: cover; /* Ensure the background image covers the entire div */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
  border: 1px solid #ddd; /* Add a light gray border */
  border-radius: 10px; /* Add slightly rounded corners */
  overflow: hidden; /* Ensure the pseudo-element does not overflow the container */
}

#new-hero .new-hero-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust this rgba value for different transparency levels */
  z-index: 1; /* Ensure the overlay is on top of the background image */
}

#new-hero .new-hero-bg * {
  position: relative;
  z-index: 2; /* Ensure the content is above the overlay */
}

#new-hero h2, #new-hero p, #new-hero .btn {
  z-index: 11; /* Ensure the content is above the background image and overlay */
  position: relative; /* Position the content relative to its normal position */
}

/*-------------------------------- 
    #About Us Section
--------------------------------*/
#about {
  background-color: #F7F7F7;
  padding: 60px 0 40px 0;
  position: relative;
}

#about .about-bg {
  position: relative; /* Ensure the pseudo-element is positioned relative to this container */
  height: 100%;
  width: 100%;
  background-image: url('../img/02.png'); /* Replace with the path to your image */
  background-size: cover; /* Ensure the background image covers the entire div */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
  border: 1px solid #ddd; /* Add a light gray border */
  border-radius: 10px; /* Add slightly rounded corners */
  overflow: hidden; /* Ensure the pseudo-element does not overflow the container */
}

#about .about-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust this rgba value for different transparency levels */
  z-index: 1; /* Ensure the overlay is on top of the background image */
}

#about .about-bg * {
  position: relative;
  z-index: 2; /* Ensure the content is above the overlay */
}

#about .container {
  position: relative;
  z-index: 10;
}

#about .section-header h3 {
  text-align: left;
  font-size: 30px;
  font-weight: 600;
}

#about .about-button {
  background-color: #1d242b;
}

/*-------------------------------
    #Main About
--------------------------------*/
#main-about {
  background-color: #F7F7F7;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
}
#main-about .section-header h2 {
  text-align: left;
  font-size: 30px;
  font-weight: 600;
}

/*-------------------------------- 
    #Services Section
--------------------------------*/
#services {
  background: #fff;
  background-size: cover;
  padding: 60px 0 40px 0;
}

#services::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

#services header .row h2 {
  font-family: "Playfair Display", "Playfair Display Placeholder", serif;
  text-align: left;
  font-size: 30px;
  font-weight: 600;
}

#services .service-card-bg-1 {
  height: 100%;
  width: 100%;
  background-image: url('../img/03.png'); /* Replace with the path to your image */
  background-size: cover; /* Ensure the background image covers the entire div */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
  border: 1px solid #ddd; /* Add a light gray border */
  border-radius: 10px; /* Add slightly rounded corners */
}

#services .service-card-bg-2 {
  height: 100%;
  width: 100%;
  background-image: url('../img/04.png'); /* Replace with the path to your image */
  background-size: cover; /* Ensure the background image covers the entire div */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
  border: 1px solid #ddd; /* Add a light gray border */
  border-radius: 10px; /* Add slightly rounded corners */
}

#services .service-card-bg-3 {
  height: 100%;
  width: 100%;
  background-image: url('../img/05.png'); /* Replace with the path to your image */
  background-size: cover; /* Ensure the background image covers the entire div */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
  border: 1px solid #ddd; /* Add a light gray border */
  border-radius: 10px; /* Add slightly rounded corners */
}

#services .service-card-bg-4 {
  position: relative; /* Ensure the pseudo-element is positioned relative to this container */
  height: 100%;
  width: 100%;
  background-image: url('../img/06.png'); /* Replace with the path to your image */
  background-size: cover; /* Ensure the background image covers the entire div */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
  border: 1px solid #ddd; /* Add a light gray border */
  border-radius: 10px; /* Add slightly rounded corners */
  overflow: hidden; /* Ensure the pseudo-element does not overflow the container */
}

#services .service-card-bg-1::before,
#services .service-card-bg-2::before,
#services .service-card-bg-3::before,
#services .service-card-bg-4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust this rgba value for different transparency levels */
  z-index: 1; /* Ensure the overlay is on top of the background image */
}

#services .service-card-bg-1,
#services .service-card-bg-2,
#services .service-card-bg-3,
#services .service-card-bg-4 * {
  position: relative;
  z-index: 2; /* Ensure the content is above the overlay */
}


#services .servives-card h6 {
  font-family: "IBM Plex Sans", "IBM Plex Sans Placeholder", sans-serif;
  font-size: 20px;
}

#services .servives-card p {
  font-family: "IBM Plex Sans", "IBM Plex Sans Placeholder", sans-serif;
  font-size: 15px;
}

/*--------------------------------------------------------------
    #Footer
--------------------------------------------------------------*/
#footer {
  background: #1d242b;
  padding: 0 0 30px 0;
  color: #fafafa;
  font-size: 14px;
}

#footer .navbar li a {
  display: inline-block;
  position: relative;
  padding-top: 10px; /* Adjust padding as needed */
  padding-bottom: 10px; /* Adjust padding as needed */
  color: inherit; /* Ensure the color remains the same until hover */
  text-decoration: none; /* Remove underline */
}

#footer .navbar li a span {
  position: relative; /* To position pseudo-element absolutely within span */
  display: inline-block; /* To enable dynamic width */
}

#footer .navbar li a span::before {
  content: '';
  position: absolute;
  top: -5px; /* Adjust position above the text */
  left: 50%;
  width: 100%; /* Match the width of the text */
  height: 2px; /* Border height */
  background-color: transparent; /* Initial state with transparent border */
  transform: translateX(-50%);
  transition: background-color 0.3s; /* Smooth transition effect */
}

#footer .navbar li a:hover span::before, 
#footer .navbar li a:focus span::before, 
#footer .navbar li a.active span::before {
  background-color: #18d26e; /* Border color on hover, focus, and active */
}
/*Footer copyright & credits*/
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .copyright span {
  color: #18d26e;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}